body {
    background: #111;
    color: white;
}

/* Canvas */
canvas {
    border: 3px solid white;
    cursor: url('../img/mira.png'), crosshair;
}

/* Pantallas */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;

    background: rgba(0,0,0,0.8);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}